#indexBody {
	background-repeat: no-repeat;
	background-image: url("/images/body.jpg");
	background-size: cover;
}

.my-container {
        border: 1px solid black;
      }

.my-row {
	border: 3px solid red;

}

.my-col {
	border: 3px dotted blue;

}

#header {
	height: 125px;
}

#searchEngine {
	height: 30px;
	display: inline-block;
}

img {

	margin-bottom: 5px;
}

p {
	font-size: 22px;
}

input[type=submit] {
    background:#ccc;
    font-size: 8px;
}

#lol {
	width: 150px;
	height: 40px;
}