.my-container {
        border: 1px solid black;
      }

.my-row {
	border: 3px solid red;

}

.my-col {
	border: 3px dotted blue;
}

#header {
	height: 125px;
}

#searchEngine {
	height: 30px;
	display: inline-block;
}

